<div class="container-home">
  <div class="center-box bg-warning">
    <h1 class="">{{title}}</h1>
    <h6 class="pt-3">Project where we have all the basic authorization and authentication processes.</h6>
  </div>
</div>