<div class="container-home">
  <div class="center-box">
    <a href="/private" class="nav-link mb-3 btn-secret">Go to the secret page</a>
    <img src="https://img00.deviantart.net/f111/i/2015/224/8/9/cool_cat__pixel_by_tovalhalla-d95ciza.jpg" alt="" class="w-100 p-4 bg-warning">
  </div>
</div>