<div class="container-home">
  <div class="center-box">
    <h4 class="txt-rotate bg-warning p-2">Welcome to the secret page</h4>
    <img src="https://media.giphy.com/media/mlvseq9yvZhba/giphy.gif" alt="cat" class="w-100 p-4 bg-warning">
  </div>
</div>